openapi: 3.2.0
info:
  version: 1.0.0
  title: Pet Adoption adopt delete API
  description: A pet adoption API.
  contact:
    name: John Doe
    url: https://example.com/john-doe
    email: john.doe@example.com
servers:
- url: https://api.fortellis.io/data/v1/example/pet-adoption
security:
- permission-model:
  - anonymous
tags:
- name: adopt delete
paths:
  /pets/{petId}:
    delete:
      summary: Delete a pet so they are no longer available for adoption
      description: Delete a pet so they are no longer available for adoption
      operationId: deletePets
      tags:
      - adopt delete
      parameters:
      - $ref: '#/components/parameters/header.Request-Id'
      - $ref: '#/components/parameters/header.Subscription-Id'
      - $ref: '#/components/parameters/header.Authorization'
      - $ref: '#/components/parameters/path.petId'
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '423':
          $ref: '#/components/responses/Locked'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  responses:
    BadRequest:
      description: 400 - Bad Request
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: 404 - Not Found
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: 403 - Forbidden
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: 401 - Unauthorized
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Deleted:
      description: 204 - No Content
      headers:
        Request-Id:
          schema:
            type: string
    Locked:
      description: 423 - Locked
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: 503 - Service Unavailable
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    header.Subscription-Id:
      name: Subscription-Id
      in: header
      required: true
      description: The Fortellis Marketplace subscription identifier between a user entity and the solution. For sample responses use the Subscription-Id 'test'.
      schema:
        type: string
        format: guid
    header.Request-Id:
      name: Request-Id
      in: header
      required: true
      description: "A correlation ID that should be returned back to the caller to \nindicate the return of the given request\n"
      schema:
        type: string
        format: uuid
    header.Authorization:
      name: Authorization
      in: header
      description: "Contains credentials that allows the caller to authenticate itself with the \nAPI. See RFC 7235 and RFC 7617 for more details.\n"
      schema:
        type: string
    path.petId:
      name: petId
      in: path
      required: true
      description: The unique identifier of a pet adoption record.
      schema:
        type: string
  schemas:
    ErrorResponse:
      description: Common error response object.
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
      required:
      - code
      - message
      example:
        code: 400
        message: Bad Request
  securitySchemes:
    permission-model:
      type: oauth2
      flows:
        implicit:
          scopes:
            pets.adopt: permission to query, read, and adopt pets
            pets.manage: permission to add, modify, and remove pets
          authorizationUrl: https://identity.fortellis.io/oauth2/
