openapi: 3.2.0
info:
  version: 1.0.0
  title: Pet Adoption Adopt API
  description: A pet adoption API.
  contact:
    name: John Doe
    url: https://example.com/john-doe
    email: john.doe@example.com
servers:
- url: https://api.fortellis.io/data/v1/example/pet-adoption
security:
- permission-model:
  - anonymous
tags:
- name: adopt
paths:
  /pets:
    get:
      summary: Query pets available for adoption
      description: Query pets available for adoption
      operationId: queryPets
      tags:
      - adopt
      parameters:
      - $ref: '#/components/parameters/header.Request-Id'
      - $ref: '#/components/parameters/header.Subscription-Id'
      - $ref: '#/components/parameters/header.Authorization'
      - $ref: '#/components/parameters/query.name'
      - $ref: '#/components/parameters/query.breed'
      - $ref: '#/components/parameters/query.page'
      - $ref: '#/components/parameters/query.pageSize'
      responses:
        '200':
          $ref: '#/components/responses/PetCollection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /pets/{petId}:
    get:
      summary: Get the description of a pet available for adoption
      description: Get the description of a pet available for adoption
      operationId: readPets
      tags:
      - adopt
      parameters:
      - $ref: '#/components/parameters/header.Request-Id'
      - $ref: '#/components/parameters/header.Subscription-Id'
      - $ref: '#/components/parameters/header.Authorization'
      - $ref: '#/components/parameters/path.petId'
      responses:
        '200':
          $ref: '#/components/responses/Pet'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  schemas:
    ErrorResponse:
      description: Common error response object.
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
      required:
      - code
      - message
      example:
        code: 400
        message: Bad Request
    Pet:
      description: A pet record
      properties:
        petId:
          type: string
          description: The record identifier of the pet
        name:
          type: string
          description: The name of the pet
        type:
          type: string
          enum:
          - dog
          - cat
          description: The type of pet
      required:
      - petId
      - name
      - type
      example:
        petId: ABC123
        name: Fido
        type: dog
    PetCollection:
      description: A search result collection of Pet records.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Pet'
          description: Pet search results.
        totalItems:
          type: number
          description: The total number of items contained in the collection
        totalPages:
          type: number
          description: The total number of pages given the requested page size
        links:
          $ref: '#/components/schemas/CollectionNavigationObject'
          description: The hypermedia links describing the possible resource actions
      required:
      - items
      - totalItems
      - totalPages
      - links
      example:
        items:
        - petId: ABC123
          name: Fido
          type: dog
        - petId: DEF456
          name: Fluffy
          type: cat
        - petId: GHI789
          name: Rex
          type: dog
        totalItems: 10
        totalPages: 4
        links:
          firstPage: https://api.fortellis.io/pet-adoption/v1/pets?page=1&pageSize=3
          nextPage: https://api.fortellis.io/pet-adoption/v1/pets?page=2&pageSize=3
          prevPage: https://api.fortellis.io/pet-adoption/v1/pets?page=1&pageSize=3
    CollectionNavigationObject:
      description: The standard set of links to navigate a resource collection
      type: object
      properties:
        firstPage:
          type: string
          description: The URL to the first page of query results
        nextPage:
          type: string
          description: The URL to the next page of query results
        prevPage:
          type: string
          description: The URL to the previous page of query results
      required:
      - firstPage
      - nextPage
      - prevPage
      example:
        firstPage: https://api.fortellis.io/pet-adoption/v1/pets?page=1&pageSize=20
        nextPage: https://api.fortellis.io/pet-adoption/v1/pets?page=3&pageSize=20
        prevPage: https://api.fortellis.io/pet-adoption/v1/pets?page=2&pageSize=20
  responses:
    Forbidden:
      description: 403 - Forbidden
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PetCollection:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PetCollection'
    ServiceUnavailable:
      description: 503 - Service Unavailable
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: 404 - Not Found
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Pet:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Pet'
    BadRequest:
      description: 400 - Bad Request
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: 401 - Unauthorized
      headers:
        Request-Id:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    header.Authorization:
      name: Authorization
      in: header
      description: "Contains credentials that allows the caller to authenticate itself with the \nAPI. See RFC 7235 and RFC 7617 for more details.\n"
      schema:
        type: string
    header.Request-Id:
      name: Request-Id
      in: header
      required: true
      description: "A correlation ID that should be returned back to the caller to \nindicate the return of the given request\n"
      schema:
        type: string
        format: uuid
    query.breed:
      name: breed
      in: query
      description: Allows pet searches to be filtered by breed
      schema:
        type: string
    header.Subscription-Id:
      name: Subscription-Id
      in: header
      required: true
      description: The Fortellis Marketplace subscription identifier between a user entity and the solution. For sample responses use the Subscription-Id 'test'.
      schema:
        type: string
        format: guid
    query.name:
      name: name
      in: query
      description: Allows pet searches to be filtered by name
      schema:
        type: string
    query.pageSize:
      name: pageSize
      in: query
      description: 'This is a pagination control for the requested number of items returned

        per page. It must be greater than or equal to one. This may be overridden

        and clamped to a maximum value by the resource owner.

        '
      schema:
        type: number
        minimum: 1
    path.petId:
      name: petId
      in: path
      required: true
      description: The unique identifier of a pet adoption record.
      schema:
        type: string
    query.page:
      name: page
      in: query
      description: "This is a pagination control for the request page of query result items\nto return in the response. It must be greater than or equal to one.  If \ngreater than the total number of available pages, the returned page will \nbe the last available page.\n"
      schema:
        type: number
        minimum: 1
  securitySchemes:
    permission-model:
      type: oauth2
      flows:
        implicit:
          scopes:
            pets.adopt: permission to query, read, and adopt pets
            pets.manage: permission to add, modify, and remove pets
          authorizationUrl: https://identity.fortellis.io/oauth2/
