swagger: '2.0'
info:
  version: 3.0.0
  title: appointments adopt adopt update API
  description: "## Fortellis - Service - Appointments\nA service appointment is a booking of a vehicle into the service department for work that needs to be carried out on the vehicle. This could be a service, repair, body repair, government test etc.\n\n## What does this API do?\nThe API will allow you to query, create and manage service appointments. \n\n## Intended Audience\nIt is expected that systems that require create, read, update, and delete access to appointments will use this API.  Systems implementing service-scheduling will use this API to store appointment records.\n"
  contact:
    name: Developer Evangelists
    url: https://example.com
    email: support@fortellis.io
host: fortellis.io
basePath: /sales/notification/v3
schemes:
- https
security:
- permission-model:
  - anonymous
tags:
- name: adopt update
paths:
  /pets/{petId}:
    post:
      summary: Update the description of a pet available for adoption
      description: Update the description of a pet available for adoption
      operationId: updatePets
      tags:
      - adopt update
      parameters:
      - $ref: '#/parameters/header.Request-Id'
      - $ref: '#/parameters/header.Subscription-Id'
      - $ref: '#/parameters/header.Authorization'
      - $ref: '#/parameters/path.petId'
      - $ref: '#/parameters/body.AddUpdatePet'
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        '200':
          $ref: '#/responses/Pet'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '423':
          $ref: '#/responses/Locked'
        '503':
          $ref: '#/responses/ServiceUnavailable'
definitions:
  Pet:
    description: A pet record
    properties:
      petId:
        type: string
        description: The record identifier of the pet
      name:
        type: string
        description: The name of the pet
      type:
        type: string
        enum:
        - dog
        - cat
        description: The type of pet
    required:
    - petId
    - name
    - type
    example:
      petId: ABC123
      name: Fido
      type: dog
  AddUpdatePet:
    description: The payload to create or update a pet's adoption record
    properties:
      name:
        type: string
        description: The name of the pet
      type:
        type: string
        enum:
        - dog
        - cat
        description: The type of pet
    required:
    - name
    example:
      name: Fido
      type: dog
  ErrorResponse:
    description: Common error response object.
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
    required:
    - code
    - message
    example:
      code: 400
      message: Bad Request
parameters:
  header.Request-Id:
    name: Request-Id
    in: header
    required: true
    type: string
    format: uuid
    description: "A correlation ID that should be returned back to the caller to \nindicate the return of the given request\n"
  path.petId:
    name: petId
    in: path
    type: string
    required: true
    description: The unique identifier of a pet adoption record.
  header.Authorization:
    name: Authorization
    in: header
    type: string
    description: "Contains credentials that allows the caller to authenticate itself with the \nAPI. See RFC 7235 and RFC 7617 for more details.\n"
  header.Subscription-Id:
    name: Subscription-Id
    in: header
    required: true
    type: string
    format: guid
    description: The Fortellis Marketplace subscription identifier between a user entity and the solution. For sample responses use the Subscription-Id 'test'.
  body.AddUpdatePet:
    name: AddPet
    in: body
    required: true
    schema:
      $ref: '#/definitions/AddUpdatePet'
    description: A request body to add or update a pet.
responses:
  NotFound:
    description: 404 - Not Found
    headers:
      Request-Id:
        type: string
    schema:
      $ref: '#/definitions/ErrorResponse'
  Forbidden:
    description: 403 - Forbidden
    headers:
      Request-Id:
        type: string
    schema:
      $ref: '#/definitions/ErrorResponse'
  Unauthorized:
    description: 401 - Unauthorized
    headers:
      Request-Id:
        type: string
    schema:
      $ref: '#/definitions/ErrorResponse'
  BadRequest:
    description: 400 - Bad Request
    headers:
      Request-Id:
        type: string
    schema:
      $ref: '#/definitions/ErrorResponse'
  Locked:
    description: 423 - Locked
    headers:
      Request-Id:
        type: string
    schema:
      $ref: '#/definitions/ErrorResponse'
  ServiceUnavailable:
    description: 503 - Service Unavailable
    headers:
      Request-Id:
        type: string
    schema:
      $ref: '#/definitions/ErrorResponse'
  Pet:
    description: OK
    schema:
      $ref: '#/definitions/Pet'
securityDefinitions:
  permission-model:
    type: oauth2
    flow: implicit
    authorizationUrl: https://identity.fortellis.io/oauth2/
    scopes:
      anonymous: Create, Query, Update, and Delete appointments
